

.hs {
position:absolute;
top: 12px;
left: 12px;
font-size: 24px;
}

.time {
    position:absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    }

.container {
    margin: 120px auto 0 auto;
    max-width: 600px;
}
.start-div {
    text-align: center;
}
.hide {
    display: none;

}
.choices-div button {
    display: block;
}

#questions-div {
    padding: 12px;
    border: solid black;
    border-radius: 8px;
    background-color: rgb(20, 241, 138);
    font-size: 20px;
    
}

#start-btn {
    background-color: black;
    text-decoration: underline;
    font-size: 22px;
    color: white;
    height: 70px;
    width: 140px;
    border-radius: 25px;
}

p {
    font-size: 36px;
    padding: 24px;
}

#question {
    font-size: 36px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#choices-div {
    padding: 24px;
    margin: 10px;
    
}


.answer {
    font-weight: bold;
    height: 80px;
    width: 120px;
    border-radius: 15px;
    background-color: rgb(20, 241, 138);
}

h1{
    padding: 12px;
    font-size: 48px;
    text-decoration: underline;

}

.highscore{
    padding: 12px;
    margin: 6px;
    color:white;
    font-size: 24px;
    text-decoration:overline;
    

}

